#canvasBack {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hv-100 {
  height: 100vh;
}

@media (min-width: 992px) {
  .mt-lg-7 {
    margin-top: 5rem !important;
  }
}

.skill {
  color: white;
}

.skill section {
  overflow: hidden;
}

.ct-tablet {
  transform: translateX(20px) !important;
  z-index: 2;
}

.ct-computador {
  transform: translateX(-20px) !important;
  z-index: 1;
}

.ct-movil {
  transform: translateX(-43px) !important;
  z-index: 3;
}

.box {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 5px 0, 0 8px 8px -11px #fff;
  border-radius: 22px;
}

.box ul {
  font-size: 1.3em;
}

.box span {
  font-size: 4em;
  display: block;
}

section article span {
  font-size: 1.2em;
  font-weight: 600;
  color: #ffc107 !important;
}

section article .material-icons {
  font-size: 3.2em;
}

ant-01 {
  animation-delay: 0.1s;
}

ant-02 {
  animation-delay: 0.2s;
}

ant-03 {
  animation-delay: 0.3s;
}

ant-04 {
  animation-delay: 0.4s;
}

ant-05 {
  animation-delay: 0.5s;
}

ant-06 {
  animation-delay: 0.6s;
}

ant-07 {
  animation-delay: 0.7s;
}

ant-08 {
  animation-delay: 0.8s;
}

ant-09 {
  animation-delay: 0.9s;
}

ant-1 {
  animation-delay: 1s;
}

ant-11 {
  animation-delay: 1.1s;
}

ant-12 {
  animation-delay: 1.2s;
}

ant-13 {
  animation-delay: 1.3s;
}

ant-14 {
  animation-delay: 1.4s;
}

ant-15 {
  animation-delay: 1.5s;
}

ant-16 {
  animation-delay: 1.6s;
}

ant-17 {
  animation-delay: 1.7s;
}

ant-18 {
  animation-delay: 1.8s;
}

ant-19 {
  animation-delay: 1.9s;
}

ant-2 {
  animation-delay: 2s;
}

.carousel-item {
  height: calc(100vh);
  min-height: 100px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-item {
  transition: -webkit-all 1.5s ease !important;
  transition: all 1.5s ease !important;
  transition: all 1.5s ease, -webkit-transform 1.5s ease !important;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

.carousel {
  width: 100%;
}

.carousel-indicators li {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 24px 8px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: background-color 1.5s;
  transition: background-color 1.5s;
  border-radius: 50%;
}

.carousel-indicators .active {
  display: inline-block;
  position: relative;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 24px 8px;
  background-color: rgba(235, 213, 44, 0.5);
  -webkit-transition: background-color 1.5s;
  border-radius: 50%;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner carousel-item {
  height: 100%;
}

.frame__title-wrap {
  margin: 20px 0 0 20px;
  position: fixed;
  background: rgba(1, 1, 1, 0.7);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 3px rgba(255, 255, 255, 0.3);
  padding: 10px;
  display: block;
  width: auto;
  z-index: 2;
}

.header__title {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  background: linear-gradient(40deg, #fdf680 0%, #d6716d 50%, #a0fafb 100%);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: 400;
  margin: 0;
  opacity: 1;
  font-size: 2em;
  display: block;
}

/*Botón instagram y whatsapp*/
/*Whatsapp*/
@import '//codepen.io/chrisdothtml/pen/ojLzJK.css';

.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fab {
  transition: all 0.35s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
  top: 90%;
  left: -110%;
}

.social-btns .btn .fab {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.social-btns .btn.whatsapp:before {
  background-color: #25D366;
}

.social-btns .btn.whatsapp .fab {
  color: #25D366;
}

.social-btns .btn.instagram:before {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.social-btns .btn.instagram .fab {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-btns .btn.google:before {
  background-color: #dc4a38;
}

.social-btns .btn.google .fab {
  color: #dc4a38;
}

.social-btns .btn.skype:before {
  background-color: #00aff0;
}

.social-btns .btn.skype .fab {
  color: #00aff0;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before,
.social-btns .btn.active:before {
  top: -10%;
  left: -10%;
}

.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab,
.social-btns .btn.active .fab {
  color: #fff;
  -webkit-transform: scale(.9);
  transform: scale(.9);
  background: white;
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-btns {
  height: 50px;
  font-size: 0;
  text-align: center;
}

.social-btns .btn {
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 28%;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
  opacity: 0.99;
  font-size: 0;
  padding: 0;
  border: none;
}

.social-btns .btn:before {
  content: '';
  width: 120%;
  height: 120%;
  position: absolute;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.social-btns .btn .fab {
  font-size: 38px;
  vertical-align: middle;
}

.frame__WhatsApp {
  grid-area: WhatsAppCel;
  bottom: 30px;
  position: fixed;
  right: 10px;
  z-index: 2000;
}

@media(max-width : 768px) {
  .frame__WhatsApp .btn .fab {
    color: #fff;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    background: white;
    -webkit-background-clip: text;
    /* Also define standard property for compatibility */
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .frame__WhatsApp .btn:before {
    top: -10% !important;
    left: -10% !important;
  }
}

.celular.animated {
  animation-duration: 7s;
}

/*Carousel Diseño Particulas*/
body {
	overflow: hidden;
}

.particles div{
  width: 400px;
  background: rgba(255,255,255,.5);
  height: calc(100vh - 250px);
  margin: auto;
  border-radius: 6px;
}
.particles div canvas{

}
